.topBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s, transform 0.4s;
}

.topBtn.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.topBtn button {
  padding: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.topBtn img {
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
  width: 60px;
  height: 60px;
}

.topBtn:hover {
  transform: translateY(-5px);
}
